body {
    padding-top: 60px;
}

.hero-unit {
    padding: 40px;
    margin-bottom: 0;
}

.hr {
    margin-top: 0;
}

svg {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

circle {
    fill: none;
}
